<ion-menu contentId="mainContent" [swipeGesture]="false">
  <ion-content>
    <div class="top-buttons clearfix">
      <ion-menu-toggle class="button-link button close-menu">
        <span class="icon-close"></span>
      </ion-menu-toggle>
      <ion-menu-toggle class="button-link button logout" (click)="logout()">
        <span class="icon-log-out"></span>
      </ion-menu-toggle>
    </div>
    <div class="menu-heading">
      <div class="name">{{globalService.selectedProjectObj.customerName}}</div>
      <div class="shape-parent">
        <img src="./assets/images/heading-shape.png" />
      </div>
      <div class="cust-id">
        Customer ID : {{globalService.selectedProjectObj.customerProjectId}}
      </div>
    </div>

    <div class="bs-slider typ-menu">
      <ion-slides #Slides>
        <ion-slide> </ion-slide>

        <ion-slide
          *ngFor="let project of globalService.projectList;let i=index"
          (click)="selectProject(i,project)"
          [class.active]="globalService.activeSlideIndicator === i"
        >
          <div class="img-parent">
            <img
              src="{{project.projectImage}}"
              onError="this.src='./assets/images/default-fallback-image-profile.png';"
            />
          </div>
          <div class="name">{{project.projectName}}</div>
        </ion-slide>

        <ion-slide>
          <ion-button class="app-btn add-button" (click)="addProject()">
            <i class="icon icon-add"></i>
          </ion-button>
        </ion-slide>
      </ion-slides>
    </div>

    <ion-list>
      <ion-item
        lines="none"
        class="ion-text-center"
        (click)="openPage('about-birla')"
        [ngClass]="{'active':globalService.currentlyActivePage === 'AboutBirlaPage'}"
        ><ion-label> About birla estates </ion-label>
      </ion-item>
      <ion-item
        lines="none"
        class="ion-text-center"
        (click)="openPage('help-support')"
        [ngClass]="{'active':globalService.currentlyActivePage === 'HelpSupportPage'}"
        ><ion-label> Help & support </ion-label>
      </ion-item>
      <ion-item
        lines="none"
        class="ion-text-center"
        (click)="openPage('feedback-query')"
        [ngClass]="{'active':globalService.currentlyActivePage === 'FeedbackQueryV2Page'}"
        ><ion-label> FEEDBACK & QUERY </ion-label>
      </ion-item>
      <ion-item
        lines="none"
        class="ion-text-center"
        (click)="openPage('change-pin')"
        [ngClass]="{'active':globalService.currentlyActivePage === 'change-pin'}"
        ><ion-label> Change pin </ion-label>
      </ion-item>
      <ion-item
        lines="none"
        class="ion-text-center"
        (click)="openPage('termuse')"
        [ngClass]="{'active':globalService.currentlyActivePage === 'termuse'}"
        ><ion-label> Terms of use </ion-label>
      </ion-item>
      <ion-item
        lines="none"
        class="ion-text-center"
        (click)="openPage('privacypolicy')"
        [ngClass]="{'active':globalService.currentlyActivePage === 'privacypolicy'}"
        ><ion-label> PRIVACY POLICY </ion-label>
      </ion-item>
      <ion-item
        lines="none"
        class="ion-text-center"
        (click)="openPage('refundcancel')"
        [ngClass]="{'active':globalService.currentlyActivePage === 'refundcancel'}"
        ><ion-label> REFUND & CANCELLATION POLICY </ion-label>
      </ion-item>
      <ion-item
        lines="none"
        class="ion-text-center"
        (click)="openPage('termscondition')"
        [ngClass]="{'active':globalService.currentlyActivePage === 'termscondition'}"
        ><ion-label> TERMS & CONDITIONS </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="mainContent" main></ion-router-outlet>
