.ion-md-arrow-back:before {
    content: "\63";
    font-family: "cp" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    color: $clr-primary;
    font-size: 2rem;
    line-height: 2rem;
}