.mod-asset-preview {
  background: black;
  .image-container {
    height: 100%;
    position: relative;
  }
  .loading-container {
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    div {
      margin: auto;
    }
  }
}
