@import "../config/variables";

.mod-asset-preview {
  --background: $clr-black;
  .image-container {
    height: 100%;
    position: relative;

    ion-slides {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      background: #000;
      transform: translate(0%, -50%);
    }
  }
  .loading-container {
    color: $clr-white;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    div {
      margin: auto;
    }
  }
}
