.mod-project-details {
    .head {
        color: $clr-secondary;
        font-size: 1.4rem;
        font-weight: $font-semi-bold;
        margin-bottom: 10px;
    }
    .data {
        font-weight: $font-extra-bold;
        font-size: 1.8rem;
        color: #666666;
    }
}