.mod-appintro {
    .title {
        font-size: 2.4rem;
        line-height: 2.6rem;
        text-align: left;
    }
}

.introSlider1 {
    background: url(../../images/intro1.jpg) no-repeat 0 0 transparent;
    background-size: cover;
}

.introSlider2 {
    background: url(../../images/intro2.jpg) no-repeat 0 0 transparent;
    background-size: cover;
}

.introSlider3 {
    background: url(../../images/intro3.jpg) no-repeat 0 0 transparent;
    background-size: cover;
}

// .introSlider4 {
//     background: url(../assets/images/intro4.jpg) no-repeat 0 0 transparent;
//     background-size: cover;
// }