.bs-amount-info-sliding {
    ion-item-sliding {
        background: transparent;
    }
    .item-md.item-block .item-inner {
        border-bottom: 0;
    }
    ion-item.item {
        box-shadow: 0px 0px 15px -2px #999999;
        /* padding: 20px; */
        background: #fff;
        border-radius: 6px;
        position: relative;
        display: block;
        .number {
            background: #e2dac8;
            font-size: 1.0rem;
            font-weight: 700;
            color: #4d4d4f;
            position: absolute;
            height: 18px;
            width: 18px;
            top: 1px;
            left: 1px;
            text-align: center;
            padding-top: 2px;
            -webkit-border-top-left-radius: 6px;
            -webkit-border-bottom-right-radius: 6px;
            -moz-border-radius-topleft: 6px;
            -moz-border-radius-bottomright: 6px;
            border-top-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }
    .top-section {
        padding: 0 5px 10px 5px;
        .title {
            color: #a08349;
            font-weight: $font-semi-bold;
            font-size: 1.0rem;
            margin-bottom: 5px;
        }
        .date-amount {
            font-weight: $font-bold;
            font-size: 1.2rem;
            color: $clr-text-color;
            .icon-inr {
                vertical-align: middle;
                font-size: 11px;
            }
        }
        border-bottom:1px solid $clr-border;
    }
    .bottom-section {
        margin-top: 10px;
        padding: 0 5px;
        .title {
            font-weight: $font-semi-bold;
            font-size: 1.0rem;
            color: #b2b2b2;
            margin-bottom: 5px;
        }
        .data {
            font-weight: $font-medium;
            font-size: 1.2rem;
            color: $clr-text-color;
        }
    }
    ion-item-options {
        border-bottom: 0;
    }
    ion-item-options {
        background: #fff;
        -webkit-border-top-right-radius: 6px;
        -webkit-border-bottom-right-radius: 6px;
        -moz-border-radius-topright: 6px;
        -moz-border-radius-bottomright: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .button-group {
        padding: 20px;
        @include display-flex();
        @include box-align(center);
        .inner-button-group {
            height: 100%;
        }
        .button {
            font-size: 16px;
            display: block;
            padding: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid $clr-border;
            padding-bottom: 20px;
            height: auto;
            &:last-child {
                border-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
}