//bs-icon-disc
.bs-icon-disc {
    .icon {
        font-size: 2.2rem;
        line-height: 2.4rem;
        color: #a08349;
    }
    .disc {
        display: block;
        .title {
            font-size: 2.4rem;
            line-height: 2.6rem;
            font-weight: $font-extra-bold;
            color: $clr-black;
            margin-bottom: 10px;
        }
        p {
            color: $clr-text-color;
        }
    }
}