<app-header
  [type]="'menu'"
  [typeTitle]="'pageName'"
  [pageNameVal]="'CHANGE PIN'"
>
</app-header>

<ion-content class="lyt-section typ-bg extra-padding ion-padding">
  <div class="content-inner">
    <div class="content">
      <div class="vertical-middle">
        <div class="bs-form">
          <form [formGroup]="changePinGroup">
            <div class="form-group-wrap">
              <span class="field-label"
                ><span class="cm-bold">Existing pin</span></span
              >
              <div formGroupName="existingPin" class="form-group" text-center>
                <div class="otp-parent display-flex-content">
                  <ion-item class="app-otp-input" lines="none">
                    <!-- Inputs -->
                    <ion-input
                      #codeBox1
                      class="app-form-control"
                      appOnlyNumber
                      type="password"
                      inputmode="numeric"
                      maxlength="1"
                      name="pin1"
                      (keyup)="
                        globalService.onKeyEvent($event, codeBox2, codeBox1)
                      "
                      formControlName="pin1"
                      required
                    ></ion-input>
                    <ion-input
                      #codeBox2
                      class="app-form-control"
                      appOnlyNumber
                      type="password"
                      inputmode="numeric"
                      maxlength="1"
                      name="pin2"
                      (keyup)="
                        globalService.onKeyEvent($event, codeBox3, codeBox1)
                      "
                      formControlName="pin2"
                    ></ion-input>

                    <ion-input
                      #codeBox3
                      class="app-form-control"
                      appOnlyNumber
                      type="password"
                      inputmode="numeric"
                      maxlength="1"
                      name="pin3"
                      (keyup)="
                        globalService.onKeyEvent($event, codeBox4, codeBox2)
                      "
                      formControlName="pin3"
                    ></ion-input>

                    <ion-input
                      #codeBox4
                      class="app-form-control"
                      appOnlyNumber
                      type="password"
                      inputmode="numeric"
                      maxlength="1"
                      name="pin4"
                      (keyup)="
                        globalService.onKeyEvent($event, codeBox5, codeBox3)
                      "
                      formControlName="pin4"
                    ></ion-input>
                  </ion-item>
                </div>

                <div
                  class="error"
                  *ngIf="f['existingPin'].touched && f['existingPin'].invalid"
                >
                  <div
                    class="error-message"
                    *ngIf="!f['existingPin'].errors['match']"
                  >
                    Entered pin does not match with old pin.
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group-wrap" formGroupName="newPin">
              <span class="field-label"
                ><span class="cm-bold">New pin</span></span
              >
              <div class="form-group" text-center>
                <div class="otp-parent display-flex-content">
                  <ion-item class="app-otp-input" lines="none">
                    <!-- Inputs -->
                    <ion-input
                      #codeBox5
                      class="app-form-control"
                      appOnlyNumber
                      type="password"
                      inputmode="numeric"
                      maxlength="1"
                      name="pin1"
                      (keyup)="
                        globalService.onKeyEvent($event, codeBox6, codeBox4)
                      "
                      formControlName="pin1"
                      required
                    ></ion-input>
                    <ion-input
                      #codeBox6
                      class="app-form-control"
                      appOnlyNumber
                      type="password"
                      inputmode="numeric"
                      maxlength="1"
                      name="pin2"
                      (keyup)="
                        globalService.onKeyEvent($event, codeBox7, codeBox5)
                      "
                      formControlName="pin2"
                    ></ion-input>

                    <ion-input
                      #codeBox7
                      class="app-form-control"
                      appOnlyNumber
                      type="password"
                      inputmode="numeric"
                      maxlength="1"
                      name="pin3"
                      (keyup)="
                        globalService.onKeyEvent($event, codeBox8, codeBox6)
                      "
                      formControlName="pin3"
                    ></ion-input>

                    <ion-input
                      #codeBox8
                      class="app-form-control"
                      appOnlyNumber
                      type="password"
                      inputmode="numeric"
                      maxlength="1"
                      name="pin4"
                      (keyup)="
                        globalService.onKeyEvent($event, codeBox9, codeBox7)
                      "
                      formControlName="pin4"
                    ></ion-input>
                  </ion-item>
                </div>
                <div
                  class="error"
                  *ngIf="f['newPin'].touched && f['newPin'].invalid"
                >
                  <div
                    class="error-message"
                    *ngIf="!f['newPin'].errors['match']"
                  >
                    Entered pin should not match with old pin.
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group-wrap" formGroupName="confirmPin">
              <span class="field-label"
                ><span class="cm-bold">Re-enter pin</span></span
              >
              <div class="form-group" text-center>
                <div class="otp-parent display-flex-content">
                  <ion-item class="app-otp-input" lines="none">
                    <!-- Inputs -->
                    <ion-input
                      #codeBox9
                      class="app-form-control"
                      appOnlyNumber
                      type="password"
                      inputmode="numeric"
                      maxlength="1"
                      name="pin1"
                      (keyup)="
                        globalService.onKeyEvent($event, codeBox10, codeBox8)
                      "
                      formControlName="pin1"
                      required
                    ></ion-input>
                    <ion-input
                      #codeBox10
                      class="app-form-control"
                      appOnlyNumber
                      type="password"
                      inputmode="numeric"
                      maxlength="1"
                      name="pin2"
                      (keyup)="
                        globalService.onKeyEvent($event, codeBox11, codeBox9)
                      "
                      formControlName="pin2"
                    ></ion-input>

                    <ion-input
                      #codeBox11
                      class="app-form-control"
                      appOnlyNumber
                      type="password"
                      inputmode="numeric"
                      maxlength="1"
                      name="pin3"
                      (keyup)="
                        globalService.onKeyEvent($event, codeBox12, codeBox10)
                      "
                      formControlName="pin3"
                    ></ion-input>

                    <ion-input
                      #codeBox12
                      class="app-form-control"
                      appOnlyNumber
                      type="password"
                      inputmode="numeric"
                      maxlength="1"
                      name="pin4"
                      (keyup)="
                        globalService.onKeyEvent($event, codeBox12, codeBox11)
                      "
                      formControlName="pin4"
                    ></ion-input>
                  </ion-item>
                </div>
                <div
                  class="error"
                  *ngIf="f['confirmPin'].touched && f['confirmPin'].invalid"
                >
                  <div
                    class="error-message"
                    *ngIf="!f['confirmPin'].errors['match']"
                  >
                    Entered pin does not match with new pin.
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="button-parent ion-text-center">
            <ion-button
              (click)="proceed()"
              [disabled]="changePinGroup.invalid"
              class="app-btn btn-default"
              >Proceed</ion-button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
