.content {
  padding: 0 32px;
}

.page-title {
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 600;
  text-align: center;
}

.sub-title {
  font-size: 1.5rem;
  line-height: 2.8rem;
  font-weight: 500;
  // text-align: center;
  margin: 1rem 0;
}

.form-wrapper {
  margin-top: 3rem;
}

.button-cont {
  text-align: center;
  margin-top: 3rem;
}

.error-msg {
  color: red;
  margin-top: 1rem;
  font-size: 12px;
}

.content-inner .content .form-cont {
  top: 4%;
}
ion-modal {
  --height: 50%;
  --width:90% ;
  --width: fit-content;
--min-width: 290px;

  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal::part(backdrop) {
  // background: rgba(209, 213, 219);
  opacity: 1;
}
.sc-ion-buttons-md-h
{
  background: white;
  border-radius: 200px;
}

ion-modal ion-toolbar {
  --background:#840c6f;
  --color: white;
}
//   .calendar-day {
//     &.calendar-day-active{
//         &:after{
//             width: 20px;
//             height: 20px;
//         }
//     }
//   }

:host .calendar-day.calendar-day-active::after{
  width: 20px;
          height: 20px;
}