<app-header
  class="typ-transparent"
  [type]="'normal'"
  [typeTitle]="'logo'"
></app-header>

<ion-content [fullscreen]="true" class="lyt-section typ-bg">
  <div class="content-inner lyt-section typ-bg">
    <div class="content">
      <div class="form-cont app-form">
        <div class="bs-title-desc ion-text-start">
          <h3 class="page-title">Know your Customer ID</h3>
          <h4 class="sub-title">
            You are one steps away from getting your User ID
          </h4>
        </div>
        <form class="form-wrapper" [formGroup]="knowCustIdForm">
          <ion-item class="app-form-group">
            <ion-label position="floating" class="app-field-label"
              >Pan number</ion-label
            >
            <ion-input
              class="app-form-control"
              type="text"
              placeholder="Pan number"
              formControlName="panNo"
            ></ion-input>
          </ion-item>
          <div 
            class="error-msg"
            *ngIf="f['panNo'].touched && f['panNo'].errors"
          >
            <p *ngIf="f['panNo'].errors['required']">Enter Pan Number</p>
          </div>
          <ion-item class="app-form-group" id="open-modal" expand="block">
            <ion-label position="floating" class="app-field-label"
              
              >Date of birth</ion-label
            >
            <ion-input
              type="text"
              readonly="true"
              class="app-form-control"
              placeholder="dd/mm/yyyy"
              formControlName="dob"
            ></ion-input>
          </ion-item>
          <div class="error-msg" *ngIf="f['dob'].touched && f['dob'].errors">
            <p *ngIf="f['dob'].errors['required']">Enter Date Of Birth</p>
          </div>
        </form>

        <div class="button-cont">
          <ion-button class="app-btn btn-default" (click)="submitCustId()"
            >Submit</ion-button
          >
        </div>
      </div>
    </div>
  </div>
  <ion-modal #modal id="example-modal" trigger="open-modal"  [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Select Date</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!-- <p class="ion-padding-horizontal"></p> -->
        <ion-item>
          <ion-datetime (ionChange)="onTermsChanged($event)" [(ngModel)]="selectedDate"></ion-datetime>
          <!-- <ion-checkbox id="terms"  [checked]="canDismiss"></ion-checkbox> -->
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal> 
</ion-content>

<div class="bs-modal typ-appReview" *ngIf="showCustIdModal">
  <div class="modal-wrap">
    <div class="head">
      <h2 class="title" *ngIf="success">
        Your Customer Id is <span class="cm-line-break"> {{ custIds }}</span>
      </h2>
      <h2 class="title" *ngIf="!success">{{ errorMsg }}</h2>
    </div>

    <div class="footer">
      <div class="act-wrap">
        <ion-button
          class="app-btn btn-link"
          *ngIf="!success"
          (click)="tryAgain()"
          >Try Again</ion-button
        >
        <ion-button
          class="app-btn btn-link"
          *ngIf="success"
          (click)="backToLogin()"
          >Back to login</ion-button
        >
      </div>
    </div>
  </div>
</div>
