<app-header
  [type]="'menu'"
  [typeTitle]="'pageName'"
  [pageNameVal]="'Vault'"
></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button [routerLink]="['/termscondition']">Terms & Condition</ion-button>
  <ion-button [routerLink]="['/termuse']">Terms of Use</ion-button>
  <ion-button [routerLink]="['/privacypolicy']">Privacy Policy</ion-button>
  <ion-button [routerLink]="['/refundcancel']">Refund</ion-button>
</ion-content>
