<app-header
  [type]="'menu'"
  [typeTitle]="'pageName'"
  [pageNameVal]="'Vault'"
></app-header>



<ion-content class="lyt-section tabs typ-bg-uploads">
  <ion-fab vertical="top" horizontal="end" [edge]="true">
    <ion-fab-list>
      <ion-button color="light" class="typ-icon button-float-button">
        <i class="icon-plus"></i>
      </ion-button>
    </ion-fab-list>
  </ion-fab>
  <div class="content-inner">
    <div class="lyt-upload" style="padding:16px;">

      <div class="head">
        <div class="search-bar">
          <ion-item lines="none">
            <ion-label position="fixed"><span class="icon icon-search"></span></ion-label>
            <ion-input type="text" placeholder="Search" [(ngModel)]="searchText"></ion-input>
          </ion-item>
        </div>
        <!-- <div class="act-btn">
          <button ion-button (click)="tdsFilter()"><span class="icon icon-filter"></span></button>
        </div> -->
      </div>

      <div class="cont">
        <div class="document-list">
          <ion-list>

            <div class="bs-doc" *ngFor="let adminDocs of adminUploadedDocs | searchFilterPipe :searchText;let i=index">
              <ion-item-sliding #slidingItem >
                <ion-item lines="none" class="iconwithtext" (click)="viewDocs(adminDocs)">
                  <div class="icon">
                    <img src="../../../assets/images/customer-portal_TDS.svg" alt="customer-portal_TDS">
                  </div>
                  <div class="text">
                    <h2 class="title">{{adminDocs.vcFilename}}</h2>
                    <h3 class="time-stamp">uploaded on {{adminDocs.vcUploadedOn}}</h3>
                  </div>
                </ion-item>
                <ion-item-options side="end" class="act-wrap">

                  <!-- <icon-button [buttonType]="'share'" [allSlidesData]="adminUploadedDocs" [pageData]="adminDocs"
                    [pageName]="'vault'">
                  </icon-button> -->
                  <ion-button (click)="action(adminDocs)">
                    <span class="icon" class="icon-share">
                    </span>
                  </ion-button>
             

                </ion-item-options>
              </ion-item-sliding>
            </div>
            <div class="ion-text-left"  
              *ngIf="(adminUploadedDocs | searchFilterPipe :searchText).length === 0 || !adminUploadedDocs.length">No
              documents found.</div>
          </ion-list>
        </div>
      </div>
    </div>
  </div>
</ion-content>
