.title{
    font-size: 10px;
    text-align: center;
  
    margin: 0;
    padding-right: 65px;
}
:host::ng-deep{
    .toolbar-title {
        display: block;
        padding-right: 28px;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        pointer-events: auto;
    }
   .sc-ion-buttons-md-h {
        padding: 0;
        margin: 0;
    }
    .button-native {
        padding: 0px;
        margin: 0px;
}
}
.back-button-has-icon-only {
    --border-radius: 50%;
    min-width: 20px;
    height: 48px;
}