<app-header [type]="'normal'" [backbtn]="'true'"  [pageNameVal]="'TERMS & CONDITION'" [typeTitle]="'pageName'" ></app-header>
<ion-content padding class="lyt-section bg-color ion-padding">
  <div class="content-inner">
    <div class="content no-padding">
      <div class="vertical-top">
        <div class="bs-static-cont">


          <div class="bs-icon-desc typ-construct w-100 all-terms">
            <div class="desc">TERMS & CONDITION</div>  
          </div>
<div class="term-of-use">
  <p>
    <span class="txt-bold">1.</span> Incase the <span class="txt-bold">Agreement to Sell(ATS)/Agreement for
      Sale(AFS)/Builder Buyer Agreement(BBA)</span> has been signed by the customer and registered with
    authorities.

    <span class="sub-text"><span class="txt-bold">a.</span> The terms and conditions mentioned in the
      ATS/AFS/BBA are applicable and binding on both parties and their respective nominees/legal heirs,
      executors, successors and assigns.</span>
  </p>
  <p>
    <span class="txt-bold">2.</span> Incase the <span class="txt-bold">Agreement to Sell(ATS)/Agreement for
      Sale(AFS)/Builder Buyer Agreement(BBA)</span> has NOT YET been signed by the customer and registered
    with authorities.

    <span class="sub-text"><span class="txt-bold">a.</span> The terms and conditions mentioned in the
      Application Form and/or the Allotment Letter are applicable and binding on both parties and their
      respective nominees/legal heirs, executors, successors and assigns.</span>
  </p>
  <p>
    <span class="txt-bold">3.</span> Customers are requested to refer to the copy of the Application
    form/Allotment Letter/ATS/AFS/BBA which is in their possession or to refer to the copy of the same
    uploaded on the RERA website for their respective project.
  </p>
  <p>
    <span class="txt-bold">Contacting us: If you have any questions about this Privacy Policy, the practices
      of this site, or your dealings with this site, please contact us at:</span>
  </p>
</div>
<app-address-info></app-address-info>
</div>
</div>
</div></div>
</ion-content>
