<ion-header>
  <app-header class="typ-transparent" [type]="'normal'" [typeTitle]="'logo'"></app-header>
</ion-header>

<ion-content padding class="lyt-section typ-bg extra-padding">
  <div class="content-inner">
      <div class="content">
          <div class="form-cont">
              <div class="bs-title-desc" text-left>
                  <h2 class="title">Hello</h2>
                  <h3 class="sub-title">welcome home</h3>
              </div>
              <div class="bs-form">
                  <!-- <input-with-btn [pageData]="pageData"></input-with-btn> -->
                  <br>
                  <span class="get-id-link">
                      <a routerLink="/pages/tab1" style="font-weight: 600;" (click)="getUser()">Get Customer Id</a>
                  </span>
              </div>
          </div>
      </div>
  </div>
</ion-content>
