
  <app-header class="typ-transparent" [type]="'normal'" [typeTitle]="'logo'"></app-header>

  <ion-content [fullscreen]="true" class="lyt-section typ-bg">
  <div class="content-inner lyt-section typ-bg">
    <div class="content">
      <div class="form-cont app-form">
        <div class="bs-title-desc ion-text-start">
          <h2 class="title">Hello</h2>
          <h3 class="sub-title">welcome home</h3>
        </div>
        <div class="">
          <ion-item lines="none" class="app-form-group">
            <ion-label class="app-field-label" position="floating"
              >CUSTOMER ID</ion-label
            >
            <ion-input
              class="app-form-control"
              type="number"
              [(ngModel)]="typedText"
              (ionChange)="inputChanged($event)"
            ></ion-input>
            <ion-button (click)="inputBtn()">
              <span class="icons icon-next"></span>
            </ion-button>
          </ion-item>
          <br />
          <span class="get-id-link ion-text-end">
            <a routerLink="/know-your-cust-id" style="font-weight: 600"
              >Get Customer Id</a
            >
          </span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
