
    .get-id-link {
        float: right;
        text-align: right;

        a {
            color: red;
            font-size: 15px
        }
    }
    .pad{
        padding: 2rem;
    }

.content-inner .content .form-cont {
    position: absolute;
    top: 18%;
    right: 0;
    left: 0;
}