<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>PROJECT</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vault">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>VAULT</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payments">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>PAYMENTS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <span class="">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>NOTIFICATIONS</ion-label>
      </span>
      <ion-badge mode="ios">{{globalService.notification_count}}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
