<app-header class="typ-transparent" [type]="'normal'" [typeTitle]="'logo'">
</app-header>

<ion-content class="lyt-section typ-bg">
  <div class="content-inner lyt-section typ-bg">
    <div class="content">
      <div class="form-cont app-form">
        <div class="bs-form">
          <h2 class="form-title">Set your pin</h2>
          <form [formGroup]="pinGroup" (ngSubmit)="fnsetPin()" novalidate>
            <div class="form-group-wrap">
              <span class="field-label"
                ><span class="cm-bold">enter pin</span></span
              >
              <div class="form-group ion-text-center">
                <div class="otp-parent display-flex-content">
                  <ion-item class="app-otp-input">
                    <ion-input
                      #codeBox1
                      class="app-form-control"
                      appOnlyNumber
                      type="{{ encrypt ? 'tel' : 'password' }}"
                      maxlength="1"
                      name="pin1"
                      (keyup)="
                        globalService.onKeyEvent($event, codeBox2, codeBox1);
                        changeInput()
                      "
                      formControlName="pin1"
                    ></ion-input>

                    <ion-input
                      #codeBox2
                      class="app-form-control"
                      appOnlyNumber
                      type="{{ encrypt ? 'tel' : 'password' }}"
                      maxlength="1"
                      name="pin2"
                      (keyup)="
                        globalService.onKeyEvent($event, codeBox3, codeBox1);
                        changeInput()
                      "
                      formControlName="pin2"
                      x
                    ></ion-input>

                    <ion-input
                      #codeBox3
                      class="app-form-control"
                      appOnlyNumber
                      type="{{ encrypt ? 'tel' : 'password' }}"
                      maxlength="1"
                      name="pin3"
                      (keyup)="
                        globalService.onKeyEvent($event, codeBox4, codeBox2);
                        changeInput()
                      "
                      formControlName="pin3"
                    ></ion-input>

                    <ion-input
                      #codeBox4
                      class="app-form-control"
                      appOnlyNumber
                      type="{{ encrypt ? 'tel' : 'password' }}"
                      maxlength="1"
                      name="pin4"
                      (keyup)="
                        globalService.onKeyEvent($event, codeBox5, codeBox3);
                        changeInput()
                      "
                      formControlName="pin4"
                    ></ion-input>
                  </ion-item>
                </div>
              </div>
            </div>
            <div class="form-group-wrap">
              <span class="field-label"
                ><span class="cm-bold">re-enter pin</span></span
              >
              <div class="form-group ion-text-center">
                <div class="otp-parent display-flex-content">
                  <ion-item class="app-otp-input">
                    <ion-input
                      class="app-form-control"
                      #codeBox5
                      appOnlyNumber
                      type="{{ encrypt ? 'tel' : 'password' }}"
                      maxlength="1"
                      name="pin4"
                      (keyup)="
                        globalService.onKeyEvent($event, codeBox6, codeBox5);
                        changeInput()
                      "
                      formControlName="pin5"
                    ></ion-input>

                    <ion-input
                      #codeBox6
                      class="app-form-control"
                      appOnlyNumber
                      type="{{ encrypt ? 'tel' : 'password' }}"
                      maxlength="1"
                      name="pin1"
                      (keyup)="
                        globalService.onKeyEvent($event, codeBox7, codeBox5);
                        changeInput()
                      "
                      formControlName="pin6"
                    ></ion-input>

                    <ion-input
                      #codeBox7
                      class="app-form-control"
                      appOnlyNumber
                      type="{{ encrypt ? 'tel' : 'password' }}"
                      maxlength="1"
                      name="pin2"
                      (keyup)="
                        globalService.onKeyEvent($event, codeBox8, codeBox6);
                        changeInput()
                      "
                      formControlName="pin7"
                    ></ion-input>

                    <ion-input
                      #codeBox8
                      class="app-form-control"
                      appOnlyNumber
                      type="{{ encrypt ? 'tel' : 'password' }}"
                      maxlength="1"
                      name="pin3"
                      (keyup)="
                        globalService.onKeyEvent($event, codeBox8, codeBox7);
                        changeInput()
                      "
                      formControlName="pin8"
                    ></ion-input>
                  </ion-item>
                </div>
                <div class="button-parent ion-text-center">
                  <ion-button
                    [disabled]="!submitted"
                    class="app-btn btn-default"
                    type="submit"
                    >PROCEED</ion-button
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>
