@import "../assets/sass/config/variables";
$font-path: "./assets/fonts";
$app-direction: ltr;

$colors: (
  primary: #488aff,
);

// App iOS Variables
// --------------------------------------------------
$spinner-ios-crescent-color: $clr-primary;

// App Material Design Variables
// --------------------------------------------------
$spinner-md-crescent-color: $clr-primary;
$text-input-md-show-focus-highlight: false !default;
$text-input-md-show-valid-highlight: $text-input-md-show-focus-highlight !default;
$text-input-md-show-invalid-highlight: $text-input-md-show-focus-highlight !default;

