.submit-btn-group {
  margin-top: 5rem;
}

.custom-modaal {
  --height: 50% !important;
  --border-radius: 16px !important;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
}

.footer-btn {
  width: 100%;
  font-weight: 700 !important;
}

ionic-selectable {
  padding-top: 14px;
}
