<app-header
  class="typ-transparent"
  [type]="'normal'"
  [typeTitle]="'logo'"
></app-header>
<ion-content [fullscreen]="true" class="lyt-section typ-bg">
  <div class="content-inner lyt-section typ-bg">
    <div class="content">
      <div class="form-cont app-form">
        <div class="bs-title-desc ion-text-start">
          <h2 class="title">Hello </h2>
          <h3 class="sub-title">{{ userName }}</h3>
        </div>
        <div class="ion-text-center">
          <!-- <form [formGroup]="selForm" (ngSubmit)="fnSubmit()"> [modalCssClass]="modaldesign"  -->
          <ion-item class="app-form-group app-select" lines="none">
            <ion-label class="app-field-label" position="stacked"
              >Choose Customer</ion-label
            >
            <ionic-selectable
              #portComponent
              [items]="sampleData"
              itemValueField="customerCode"
              itemTextField="customerName"
              [canSearch]="true"
              [canClear]="true"
              [(ngModel)]="port"
              (onChange)="portChange($event)"
              (onSearch)="searchPorts($event)"
              [hasInfiniteScroll]="true"
              (onInfiniteScroll)="getMoreCustomer($event)"
            >
              <ng-template ionicSelectableHeaderTemplate>
                <ion-toolbar>
                  <ion-buttons slot="end">
                    <ion-button
                      class="app-btn btn-link"
                      (click)="portComponent.close()"
                      >cancel</ion-button
                    >
                  </ion-buttons>
                  <ion-title>Select Project</ion-title>
                </ion-toolbar>
              </ng-template>
              <ng-template
                ionicSelectableItemTemplate
                let-port="item"
                let-isPortSelected="isItemSelected"
              >
                {{ port.customerName }} ({{ port.customerCode }})
              </ng-template>
              <!-- <ng-template ionicSelectableSearchTemplate> Abc </ng-template> -->
              <!-- <ng-template ionicSelectableItemTemplate let-port="item">
                {{port.name}} ({{port.country.name}})
              </ng-template> -->
              <!-- <ng-template ionicSelectableFooterTemplate></ng-template> -->
              <!-- <ng-template ionicSelectableFooterTemplate>

          </ng-template> -->
              <!-- <ng-template ionicSelectableFooterTemplate>

            <ion-toolbar>
              <ion-row class="ion-justify-content-center">
                <ion-col size="auto" *ngIf="portComponent.canClear">
                  <ion-button class="app-btn btn-default" (click)="clear()"
                    [disabled]="!portComponent.itemsToConfirm.length">
                    Clear
                  </ion-button>
                </ion-col>               
                <ion-col size="auto">
                  <ion-button class="app-btn btn-default" (click)="confirm()">
                    OK
                  </ion-button> 
                </ion-col>
              </ion-row>
            </ion-toolbar>
          </ng-template> -->
            </ionic-selectable>
          </ion-item>
          <div class="button-parent">
            <ion-button
              class="app-btn btn-default"
              (click)="fnSubmit()"
              type="submit"
              >Submit
            </ion-button>
          </div>
          <ion-button class="app-btn btn-link" (click)="logout()" fill="clear">Logout</ion-button>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
</ion-content>
