.lyt-floor-plan {
  .title {
    font-size: 1.8rem;
    font-weight: $font-extra-bold;
    color: $clr-primary;
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: inherit;
  }

  .list {
    margin-bottom: 20px;
  }
}
