// lyt-upload
.lyt-upload {
  background: white;
  .head {
    margin-bottom: 30px;
    .search-bar {
      width: 100%;
      display: inline-block;
      border: 1px solid #d2d2d2;
      border-radius: 6px;
      padding: 1px;
      .item-md {
        padding-left: 0;
        .item-inner {
          border-bottom: none;
          padding-right: 0;
          .text-input-md {
            font-size: 1.2rem;
            line-height: 1.2rem;
            font-weight: $font-semi-bold;
          }
        }
      }
      .item-input {
        .label-md {
          max-width: 10%;
          min-width: 10%;
          margin: 10px 3px 10px 10px;
          font-size: 2rem;
          line-height: 2rem;
          color: #e2e2e2;
        }
      }
      .item-md.item-input.item-input-has-focus .item-inner,
      .item-md.item-input.input-has-focus .item-inner {
        box-shadow: none;
        border: none;
      }
    }
    .search-bar-blogs {
      width: 86%;
      display: inline-block;
      border: 1px solid #d2d2d2;
      border-radius: 6px;
      padding: 1px;
      .item-md {
        padding-left: 0;
        .item-inner {
          border-bottom: none;
          padding-right: 0;
          .text-input-md {
            font-size: 1.2rem;
            line-height: 1.2rem;
            font-weight: $font-semi-bold;
          }
        }
      }
      .item-input {
        .label-md {
          max-width: 10%;
          min-width: 10%;
          margin: 10px 3px 10px 10px;
          font-size: 2rem;
          line-height: 2rem;
          color: #e2e2e2;
        }
      }
      .item-md.item-input.item-input-has-focus .item-inner,
      .item-md.item-input.input-has-focus .item-inner {
        box-shadow: none;
        border: none;
      }
    }
    .act-btn {
      width: 12%;
      display: inline-block;
      text-align: right;
      vertical-align: top;
      .button {
        background: none;
        box-shadow: none;
        padding: 0 0 0 1.1em;
        .button-inner {
          .icon {
            font-size: 2rem;
            line-height: 2.4rem;
            margin-top: 7px;
          }
        }
      }
    }
  }
  .cont {
    display: block;
    .doc-note {
      font-size: 1.2rem;
      line-height: 1.4rem;
      text-align: right;
      margin-bottom: 1.1rem;
      .star {
        color: $clr-primary;
      }
    }
    // display: block;
    // position: absolute;
    // top: 20%;
    // right: 3%;
    // left: 3%;
    // bottom: 11%;
    // overflow-x: auto;
    // padding: 5px;
    // .document-list{
    // }
  }
}
