<ion-content [fullscreen]="true" class="mod-asset-preview">
  <ion-button class="app-btn btn-link close-preview" (click)="closePage()">
    <i class="icon-close"></i>
  </ion-button>

  <div
    class="image-container"
    *ngIf="previewData.fileType === 'jpg' || previewData.fileType === 'png'"
  >
    <ion-slides
      pager="false"
      [options]="slideOpts"
      #PreviewSlider
      style="position: absolute"
    >
      <ion-slide>
        <img src="{{ imageUrl }}" />
      </ion-slide>
    </ion-slides>
    <div class="loading-container">
      <div>
        <ion-spinner></ion-spinner>
      </div>
    </div>
  </div>

  <div
    padding
    id="Preview"
    class="videoPreview"
    *ngIf="previewData.fileType === 'video'"
  >
    <iframe
      width="100%"
      height="90%"
      [src]="trustedVideoUrl ? trustedVideoUrl : null"
      (load)="trustedVideoUrl ? handleIFrameLoadEvent() : null"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
</ion-content>
