<app-header
  [type]="'menu'"
  [typeTitle]="'pageName'"
  [pageNameVal]="'Payment'"
></app-header>
<ion-content class="lyt-section typ-bg tabs">
  <div class="content-inner">
    <div class="content no-padding app-tab" *ngIf="!serverError">
      <ion-segment [(ngModel)]="CustomerSegment" class="app-tab-nav">
        <ion-segment-button value="next" class="app-tab-nav-item">
          Pending
        </ion-segment-button>
        <ion-segment-button value="future" class="app-tab-nav-item">
          Future
        </ion-segment-button>
        <ion-segment-button value="past" class="app-tab-nav-item">
          Past
        </ion-segment-button>
      </ion-segment>
      <div [ngSwitch]="CustomerSegment" class="tab-content app-tab-content">

        <div *ngSwitchCase="'next'">
          <div class="bs-payment-info">
            <ul class="list">
              <li class="item">
                <div class="text">
                  * Total Invoice Raised
                </div>
                <div class="date">
                  <i class="icon-inr"></i>{{pendingData.vcTotalinvoiceraised|currencyDisplay}}
                </div>
                <div class="amount">
                  (<i class="icon-inr"></i>{{pendingData.vcTotalinvoiceraisedconverted}})
                </div>
                <div class="includin-tax-txt">* Including taxes</div>
              </li>
              <li class="item">
                <div class="text">
                  Total Amount Received
                </div>
                <div class="date">
                  <i class="icon-inr"></i>{{pendingData.vcTotalreceived|currencyDisplay}}
                </div>
                <div class="amount">
                  (<i class="icon-inr"></i>{{pendingData.vcTotalreceivedconverted}})
                </div>
              </li>
              <li class="item">
                <div class="text">
                  Total Outstanding Amount
                </div>
                <div class="date">
                   <i class="icon-inr"
                    *ngIf="pendingData.vcTotaloutstanding !== null || pendingData.vcTotaloutstanding"></i>{{pendingData.vcTotaloutstanding|currencyDisplay}}
                </div>
                <div class="date" *ngIf="pendingData.vcTotaloutstanding === null || !pendingData.vcTotaloutstanding">
                  -
                </div>
                <div class="amount" *ngIf="pendingData.vcTotaloutstanding !== null || pendingData.vcTotaloutstanding">
                  (<i class="icon-inr"
                    *ngIf="!pendingData.vcTotaloutstandingconverted.includes('Currently')"></i>{{pendingData.vcTotaloutstandingconverted}})
                </div>
              </li>
            </ul>
          </div>
          <ul class="bs-button-group ion-text-center">
            <li class="item">
              <ion-button (click)="dropCheque()" class="app-btn btn-default">CHEQUE DROP LOCATIONS</ion-button>
            </li>
            <!-- commented for first build -->
            <!-- <li class="item">
              <common-button [pageData]="payOnline"></common-button>
            </li> -->
            <li class="item"
              *ngIf="pendingData.vcTotaloutstanding !== null && pendingData.vcTotaloutstanding !== 'N/A' && pendingData.vcTotaloutstanding">
              <ion-button (click)="makePayment()" [disabled]="!disableBtn" class="app-btn btn-default">PAY ONLINE</ion-button>
            </li>
            <li class="item">
              <ion-button class="app-btn btn-link" (click)="chequeDetailpage()">CHEQUE ALREADY DROPPED ?</ion-button>

              <!-- <common-text-button [pageData]="addDropLocation"></common-text-button> -->
            </li>
          </ul>
          <div class="tdsOptInOut" *ngIf="pendingData">
            <p class="optIn">{{vcOptIn}}</p>
            <!-- <p class="optOut" >{{vcOptOut}}</p> -->
          </div>
        </div>

        <div *ngSwitchCase="'future'">
          <div class="lyt-payment-future">
            <div class="payment-amount-list">
              <div class="bs-payment-info">
                <ul class="list">
                  <li class="item">
                    <div class="text">
                      Total Installments Coming up
                    </div>
                    <div class="date">
                      {{futureData.intTotalpendinginstallment}}
                    </div>
                  </li>
                  <li class="item">
                    <div class="text">
                      * Total Amount Payable
                    </div>
                    <div class="date">
                      <i class="icon-inr"></i>{{futureData.vcTotalamountpayable|currencyDisplay}}
                    </div>
                    <div class="amount">
                      (<i class="icon-inr"></i>{{futureData.vcTotalamountpayableconverted}})
                    </div>
                  </li>
                </ul>
              </div>
              <div class="bs-amount-info"
                *ngFor="let payment of futureData.customerPortal_SubFuturePaymentModelList;let i=index">
                <div class="number">
                  {{i+1}}
                </div>
                <ion-grid class="top-section grid">
                  <ion-row class="row">
                    <ion-col class="col" size="5">
                      <ul class="info-list">
                        <li class="item has-star">
                          <div class="title">
                            Percentage
                          </div>
                          <div>
                            <span class="date">{{payment.vcPaymentpercent}} %</span>
                          </div>
                        </li>
                      </ul>
                    </ion-col>
                    <ion-col class="col" size="7">
                      <ul class="info-list">
                        <li class="item has-star">
                          <div class="title">
                            Amount payable
                          </div>
                          <div class="display-flexing">
                            <span class="date"><i class="icon-inr"
                                style="font-size: 11px;"></i>{{payment.vcAmountpayable|currencyDisplay}}</span>
                            <div class="amount">
                              (<i class="icon-inr"></i>{{payment.vcaAmountpayableconverted}})
                            </div>
                          </div>
                        </li>
                      </ul>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-grid class="grid bottom-section">
                  <ion-row class="row">
                    <ion-col class="col" size="12" >
                      <div class="title has-star">
                        Description
                      </div>
                      <div class="data">
                        {{payment.vcDescription}}
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
            <div class="paymet-note">
              <div>
                <span class="star">*</span><span class="note"> Payment dates are subject to change.</span>
              </div>
              <div>
                <span class="star">*</span><span class="note"> All Amounts are Excluding Taxes.</span>
              </div>
            </div>

          </div>
        </div>

        <div *ngSwitchCase="'past'">
          <div class="lyt-payment-future">
            <ion-list class="bs-amount-info-sliding" *ngFor="let payment of pastData;let i=index">
              <ion-item-sliding>
                <ion-item class="payment-item">
                  <div class="number">
                    {{i+1}}
                  </div>
                  <ion-grid class="grid ion-margin-start">
                    <div class="number">
                      {{i+1}}
                    </div>
                    <ion-row class="row top-section">
                      <ion-col class="col" size="6">
                        <div class="title">
                          Paid on
                        </div>
                        <div class="date-amount">
                          {{payment.vcPaymentDate}}
                        </div>
                      </ion-col>
                      <ion-col class="col" size="6">
                        <div class="title">
                          Amount paid
                        </div>
                        <div class="date-amount">
                          <i class="icon icon-inr"></i>
                          <span>{{payment.vcAmountpaid|currencyDisplay}}</span>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row class="bottom-section row">
                      <ion-col class="col" size="6">
                        <div class="title">
                          Pymt. mode
                        </div>
                        <div class="data">
                          {{payment.vcPaymentMode}}
                        </div>
                      </ion-col>
                      <ion-col class="col" size="6">
                        <div class="title">
                          Instrument No.
                        </div>
                        <div class="data">
                          {{payment.vcChequeDetail}}
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>

                <ion-item-options side="end">
                  <div class="button-group">
                    <div class="inner-button-group">
                      
                      <ion-button (click)="shareFile()">
                        <span class="icon" class="icon-share">
                         
                        </span>
                      </ion-button>
                    </div>
                  </div>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>

            <div *ngIf="!pastData.length ion-text-center">
              No records found
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content ion-text-center" *ngIf="serverError">
      No data found
    </div>
  </div>
</ion-content>