$clr-white: #ffffff;
$clr-black: #000000;
$clr-primary: #840c6f;
$clr-blue: #01a7ff;
$clr-secondary: #dbb467;
$clr-text-color: #4d4d4f;
$clr-border: #e2e2e2;
$theme-bg: #f4f4f4;
$clr-footer-link: #b3b3b3;
$clr-red: #ff4459;
$clr-green: #a2c500;
$clr-yellow: #ffa200;
$font-regular: 400;
$font-light: 300;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$common-loading: url(../../images/rolling-loading.gif);
$default-modal-shadow: #ececec;

/* breakpoints */

$font: "Montserrat", sans-serif;
$breakpoint-xs: 768px;
$breakpoint-sm: 576px;
