<app-header [type]="'normal'" [backbtn]="'true'"  [pageNameVal]="'terms of use'" [typeTitle]="'pageName'" ></app-header>
<ion-content padding class="lyt-section bg-color ion-padding">
  <div class="content-inner">
      <div class="content no-padding">
          <div class="vertical-top">
              <div class="bs-static-cont">
                  <div class="term-of-use" [innerHTML]="global.sanitizeHtml(terms)"></div>
              </div>
              <div class="bs-static-cont" *ngIf="terms == 'undefined'">
                  No data found.
              </div>               
          </div>

      </div>
  </div>
</ion-content>

