
<ion-header>
    <app-header class="typ-transparent" [type]="'normal'" [typeTitle]="'logo'"></app-header>
</ion-header>

<ion-content class="bs-appIntro">
    <div class="introSlider">
        <ion-slides pager [options]="slideOpts">
            <ion-slide class="introSlider1">
                <div class="mod-appintro">
                    <h2 class="title">
                        <span>Watch your</span>
                        <span class="cm-bold">dream home</span>
                        <span>come to life!</span>
                    </h2>
                </div>
            </ion-slide>
            <ion-slide class="introSlider2">
                <div class="mod-appintro">
                    <h2 class="title">
                        <span>Manage your</span>
                        <span class="cm-bold">payments</span>
                        <span>at a click</span>
                    </h2>
                </div>
            </ion-slide>

            <ion-slide class="introSlider3">
                <div class="mod-appintro">
                    <h2 class="title">
                        <span>Secure way to access</span><br />
                        <span class="cm-bold">your documents!</span>
                    </h2>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>
<div class="button button-link ion-text-center skipButton">
    <ion-button [slot]="'end'">Skip</ion-button>
</div>
<!-- <ion-footer>
    <ion-toolbar>
    </ion-toolbar>
</ion-footer> -->
