@import "../../../assets/sass/config/variables";

.logout-btn {
  position: absolute;
  top: 15px;
  right: 0px;
  color: $clr-primary;
  font-size: 18px;
}

ion-back-button {
  width: 40px;
  position: absolute;
  left: 0;
}
